body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .header-info {
    margin-top: 10px;
  }
  
  header h1 {
    font-size: 28px;
  }
  
  header p {
    font-size: 18px;
  }
  
  .menu-toggle {
    display: none;
    font-size: 24px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-menu li {
    margin: 0 10px;
  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    padding: 40px 0;
  }
  
  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project h3 {
    margin-bottom: 10px;
  }
  
  /* Estilos para dispositivos móveis */
  @media screen and (max-width: 600px) {
    header img {
      width: 100px;
      height: 100px;
    }
  
    .header-info {
      margin-top: 5px;
    }
  
    header h1 {
      font-size: 24px;
    }
  
    header p {
      font-size: 16px;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: #333;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
    }
  
    .nav-menu li {
      margin: 10px 0;
    }
  
    .nav-menu a {
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  
    .nav-menu.show {
      display: flex;
    }
  }
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
  }

  